In [1]:
import pandas as pd
import numpy as np

In [12]:
df1 = pd.read_csv('XLab.csv')

In [5]:
df = pd.read_csv('NewXlab.csv')

In [6]:
df1

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,A46,A47,A48,social_media_group,social_media_year,RecipientAvgTimeToRespond,Finished.1,DeviceIdentifier,Language,RandomID
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,A46,A47,A48,social_media_group,social_media_year,RecipientAvgTimeToRespond,Finished,DeviceIdentifier,Language,RandomID
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""A46""}","{""ImportId"":""A47""}","{""ImportId"":""A48""}","{""ImportId"":""social_media_group""}","{""ImportId"":""social_media_year""}","{""ImportId"":""RecipientAvgTimeToRespond""}","{""ImportId"":""Finished""}","{""ImportId"":""DeviceIdentifier""}","{""ImportId"":""Language""}","{""ImportId"":""RandomID""}"
2,2021-03-29 10:59:08,2021-03-29 11:05:10,Survey Preview,NaN,100,361,True,2021-03-29 11:05:11,R_3kpkeubEVJMXVeY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
3,2021-03-30 11:40:55,2021-03-30 12:30:11,Survey Preview,NaN,100,2956,True,2021-03-30 12:30:13,R_2rORoun447CrzQB,NaN,...,2,0,0,not_cis_man_treatment,NaN,NaN,1,NaN,NaN,NaN
4,2021-03-30 13:11:05,2021-03-30 13:21:26,Survey Preview,NaN,100,621,True,2021-03-30 13:21:28,R_2QSquguoMN5Dj7A,NaN,...,0,0,0,cis_man_control,NaN,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2021-04-07 20:24:34,2021-04-08 10:43:18,IP Address,135.180.133.103,47,51524,False,2021-04-15 10:43:21,R_2E06kUavfplJl8N,NaN,...,2,0,0,NaN,NaN,NaN,0,NaN,NaN,46748
377,2021-04-08 10:42:11,2021-04-08 11:03:44,IP Address,172.58.92.215,17,1293,False,2021-04-15 11:03:45,R_2wSojD1uWqHvSwU,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,63306
378,2021-04-08 20:28:39,2021-04-08 20:29:35,IP Address,50.66.138.165,1,55,False,2021-04-15 20:29:35,R_21aioTK20nIJrNL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
379,2021-04-07 18:44:56,2021-04-09 11:51:31,IP Address,71.202.14.234,13,147994,False,2021-04-16 11:51:32,R_9sGoPeUaz3NLsoV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
380,2021-04-09 12:12:41,2021-04-09 12:39:56,IP Address,67.188.25.90,45,1635,False,2021-04-16 12:39:56,R_1rvkR5Kjosg1gmH,NaN,...,NaN,NaN,NaN,non_cis_man_control,upperclassmen_control,NaN,0,NaN,NaN,36763

# 2.17 40.1 - 63.1

In [7]:
print(df.columns.tolist())

['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Q2.1', 'Q2.2', 'Q2.2_6_TEXT', 'Q2.3', 'Q2.4', 'Q2.4_7_TEXT', 'Q2.5', 'Q2.6', 'Q2.7', 'Q2.8', 'Q2.10', 'Q2.9', 'Q2.11', 'Q2.12', 'Q2.13', 'Q2.14', 'Q2.15', 'Q2.16', 'Q2.16_3_TEXT', 'Q2.16_8_TEXT', 'Q2.17', 'Q2.18_1', 'Q2.18_2', 'Q2.19', 'Q4.1_First Click', 'Q4.1_Last Click', 'Q4.1_Page Submit', 'Q4.1_Click Count', 'Q4.3_First Click', 'Q4.3_Last Click', 'Q4.3_Page Submit', 'Q4.3_Click Count', 'Q4.4', 'Q4.5', 'Q4.7_1', 'Q4.7_2', 'Q4.7_3', 'Q4.7_4', 'Q4.7_5', 'Q4.7_6', 'Q4.7_7', 'Q4.8_1', 'Q4.8_2', 'Q4.8_3', 'Q4.8_4', 'Q4.8_5', 'Q4.8_6', 'Q4.9_1', 'Q4.9_2', 'Q4.9_3', 'Q4.9_4', 'Q5.1_First Click', 'Q5.1_Last Click', 'Q5.1_Page Submit', 'Q5.1_Click Count', 'Q5.2', 'Q5.2_16_TEXT', 'Q5.3', 'Q5.4', 'Q5.4_9_TEXT', 'Q5.5_First Click', 'Q5.5_Last Click', 'Q5.5_Page Submit', 'Q5.5_Click Count', 'Q5.6', 'Q6.2_First Click', 'Q6.2_Last Click', 'Q6.2_Page Submit', 'Q6.2_Click Count', 'Q6.3_First Click', 'Q6.3_Last Click', 'Q6.3_Page Submit', 'Q6.3_Click Count', 'Q6.4', 'Q6.5_First Click', 'Q6.5_Last Click', 'Q6.5_Page Submit', 'Q6.5_Click Count', 'Q6.7_First Click', 'Q6.7_Last Click', 'Q6.7_Page Submit', 'Q6.7_Click Count', 'Q6.9_First Click', 'Q6.9_Last Click', 'Q6.9_Page Submit', 'Q6.9_Click Count', 'Q6.11_First Click', 'Q6.11_Last Click', 'Q6.11_Page Submit', 'Q6.11_Click Count', 'Q6.13_First Click', 'Q6.13_Last Click', 'Q6.13_Page Submit', 'Q6.13_Click Count', 'Q6.15_First Click', 'Q6.15_Last Click', 'Q6.15_Page Submit', 'Q6.15_Click Count', 'Q6.16', 'Q6.17_First Click', 'Q6.17_Last Click', 'Q6.17_Page Submit', 'Q6.17_Click Count', 'Q6.19_First Click', 'Q6.19_Last Click', 'Q6.19_Page Submit', 'Q6.19_Click Count', 'Q6.20', 'Q6.21_First Click', 'Q6.21_Last Click', 'Q6.21_Page Submit', 'Q6.21_Click Count', 'Q6.23_First Click', 'Q6.23_Last Click', 'Q6.23_Page Submit', 'Q6.23_Click Count', 'Q6.24', 'Q6.25_First Click', 'Q6.25_Last Click', 'Q6.25_Page Submit', 'Q6.25_Click Count', 'Q6.26', 'Q6.27_First Click', 'Q6.27_Last Click', 'Q6.27_Page Submit', 'Q6.27_Click Count', 'Q6.29_First Click', 'Q6.29_Last Click', 'Q6.29_Page Submit', 'Q6.29_Click Count', 'Q6.30', 'Q6.31_First Click', 'Q6.31_Last Click', 'Q6.31_Page Submit', 'Q6.31_Click Count', 'Q6.33_First Click', 'Q6.33_Last Click', 'Q6.33_Page Submit', 'Q6.33_Click Count', 'Q6.34', 'Q6.35_First Click', 'Q6.35_Last Click', 'Q6.35_Page Submit', 'Q6.35_Click Count', 'Q6.37_First Click', 'Q6.37_Last Click', 'Q6.37_Page Submit', 'Q6.37_Click Count', 'Q7.1_First Click', 'Q7.1_Last Click', 'Q7.1_Page Submit', 'Q7.1_Click Count', 'Q7.3_First Click', 'Q7.3_Last Click', 'Q7.3_Page Submit', 'Q7.3_Click Count', 'Q7.5_First Click', 'Q7.5_Last Click', 'Q7.5_Page Submit', 'Q7.5_Click Count', 'Q7.7_First Click', 'Q7.7_Last Click', 'Q7.7_Page Submit', 'Q7.7_Click Count', 'Q7.9_First Click', 'Q7.9_Last Click', 'Q7.9_Page Submit', 'Q7.9_Click Count', 'Q7.11_First Click', 'Q7.11_Last Click', 'Q7.11_Page Submit', 'Q7.11_Click Count', 'Q7.13_First Click', 'Q7.13_Last Click', 'Q7.13_Page Submit', 'Q7.13_Click Count', 'Q7.15_First Click', 'Q7.15_Last Click', 'Q7.15_Page Submit', 'Q7.15_Click Count', 'Q7.17_First Click', 'Q7.17_Last Click', 'Q7.17_Page Submit', 'Q7.17_Click Count', 'Q7.19_First Click', 'Q7.19_Last Click', 'Q7.19_Page Submit', 'Q7.19_Click Count', 'Q8.2_First Click', 'Q8.2_Last Click', 'Q8.2_Page Submit', 'Q8.2_Click Count', 'Q8.3', 'Q8.4', 'Q8.4_9_TEXT', 'Q8.5_First Click', 'Q8.5_Last Click', 'Q8.5_Page Submit', 'Q8.5_Click Count', 'Q8.6', 'Q8.7', 'Q8.8', 'Q8.9', 'Q8.10', 'Q9.1_First Click', 'Q9.1_Last Click', 'Q9.1_Page Submit', 'Q9.1_Click Count', 'Q9.2_1', 'Q9.2_2', 'Q9.2_3', 'Q9.2_4', 'Q10.1_First Click', 'Q10.1_Last Click', 'Q10.1_Page Submit', 'Q10.1_Click Count', 'Q11.3', 'Q11.4', 'Q11.5', 'Q11.7', 'Q12.1_1', 'Q12.2_1', 'Q12.3_1', 'Q12.4_1', 'Q12.5_First Click', 'Q12.5_Last Click', 'Q12.5_Page Submit', 'Q12.5_Click Count', 'Q13.1_1', 'Q13.2_1', 'Q13.3_1', 'Q13.4_1', 'Q13.5_First Click', 'Q13.5_Last Click', 'Q13.5_Page Submit', 'Q13.5_Click Count', 'Q14.1_4', 'Q14.2_1', 'Q14.3_1', 'Q14.4_1', 'Q14.5_First Click', 'Q14.5_Last Click', 'Q14.5_Page Submit', 'Q14.5_Click Count', 'Q15.1_1', 'Q15.2_1', 'Q15.3_1', 'Q15.4_1', 'Q15.5_First Click', 'Q15.5_Last Click', 'Q15.5_Page Submit', 'Q15.5_Click Count', 'Q16.1_1', 'Q16.2_1', 'Q16.3_1', 'Q16.4_1', 'Q16.5_First Click', 'Q16.5_Last Click', 'Q16.5_Page Submit', 'Q16.5_Click Count', 'Q17.1_1', 'Q17.2_1', 'Q17.3_1', 'Q17.4_1', 'Q17.5_First Click', 'Q17.5_Last Click', 'Q17.5_Page Submit', 'Q17.5_Click Count', 'Q18.1_1', 'Q18.2_1', 'Q18.3_1', 'Q18.4_1', 'Q18.5_First Click', 'Q18.5_Last Click', 'Q18.5_Page Submit', 'Q18.5_Click Count', 'Q19.1_1', 'Q19.2_1', 'Q19.3_1', 'Q19.4_1', 'Q19.5_First Click', 'Q19.5_Last Click', 'Q19.5_Page Submit', 'Q19.5_Click Count', 'Q20.1_1', 'Q20.2_1', 'Q20.3_1', 'Q20.4_1', 'Q20.5_First Click', 'Q20.5_Last Click', 'Q20.5_Page Submit', 'Q20.5_Click Count', 'Q21.1_1', 'Q21.2_1', 'Q21.3_1', 'Q21.4_1', 'Q21.5_First Click', 'Q21.5_Last Click', 'Q21.5_Page Submit', 'Q21.5_Click Count', 'Q22.1_1', 'Q22.2_1', 'Q22.3_1', 'Q22.4_1', 'Q22.5_First Click', 'Q22.5_Last Click', 'Q22.5_Page Submit', 'Q22.5_Click Count', 'Q23.1_1', 'Q23.2_1', 'Q23.3_1', 'Q23.4_1', 'Q23.5_First Click', 'Q23.5_Last Click', 'Q23.5_Page Submit', 'Q23.5_Click Count', 'Q24.1_1', 'Q24.2_1', 'Q24.3_1', 'Q24.4_1', 'Q24.5_First Click', 'Q24.5_Last Click', 'Q24.5_Page Submit', 'Q24.5_Click Count', 'Q25.1_1', 'Q25.2_1', 'Q25.3_1', 'Q25.4_1', 'Q25.5_1', 'Q25.6_First Click', 'Q25.6_Last Click', 'Q25.6_Page Submit', 'Q25.6_Click Count', 'Q26.1_1', 'Q26.2_1', 'Q26.3_1', 'Q26.4_1', 'Q26.5_1', 'Q26.6_First Click', 'Q26.6_Last Click', 'Q26.6_Page Submit', 'Q26.6_Click Count', 'Q27.1_1', 'Q27.2_1', 'Q27.3_1', 'Q27.4_1', 'Q27.5_1', 'Q27.6_First Click', 'Q27.6_Last Click', 'Q27.6_Page Submit', 'Q27.6_Click Count', 'Q28.1_1', 'Q28.2_1', 'Q28.3_1', 'Q28.4_1', 'Q28.5_1', 'Q28.6_First Click', 'Q28.6_Last Click', 'Q28.6_Page Submit', 'Q28.6_Click Count', 'Q29.1_1', 'Q29.2_1', 'Q29.3_1', 'Q29.4_1', 'Q29.5_4', 'Q29.6_First Click', 'Q29.6_Last Click', 'Q29.6_Page Submit', 'Q29.6_Click Count', 'Q30.1_1', 'Q30.2_1', 'Q30.3_1', 'Q30.4_1', 'Q30.5_1', 'Q30.6_First Click', 'Q30.6_Last Click', 'Q30.6_Page Submit', 'Q30.6_Click Count', 'Q31.2_First Click', 'Q31.2_Last Click', 'Q31.2_Page Submit', 'Q31.2_Click Count', 'Q31.4_First Click', 'Q31.4_Last Click', 'Q31.4_Page Submit', 'Q31.4_Click Count', 'Q31.5', 'Q31.6_1', 'Q31.7_1', 'Q31.7_2', 'Q31.7_3', 'Q31.7_4', 'Q31.7_5', 'Q31.8', 'Q32.1_First Click', 'Q32.1_Last Click', 'Q32.1_Page Submit', 'Q32.1_Click Count', 'Q32.3_First Click', 'Q32.3_Last Click', 'Q32.3_Page Submit', 'Q32.3_Click Count', 'Q32.4', 'Q32.5_1', 'Q32.6_1', 'Q32.6_2', 'Q32.6_3', 'Q32.6_4', 'Q32.6_5', 'Q32.7', 'Q32.8_First Click', 'Q32.8_Last Click', 'Q32.8_Page Submit', 'Q32.8_Click Count', 'Q32.10_First Click', 'Q32.10_Last Click', 'Q32.10_Page Submit', 'Q32.10_Click Count', 'Q32.11', 'Q32.12_1', 'Q32.13_1', 'Q32.13_2', 'Q32.13_3', 'Q32.13_4', 'Q32.13_5', 'Q32.14', 'Q32.15_First Click', 'Q32.15_Last Click', 'Q32.15_Page Submit', 'Q32.15_Click Count', 'Q32.17_First Click', 'Q32.17_Last Click', 'Q32.17_Page Submit', 'Q32.17_Click Count', 'Q32.18', 'Q32.19_1', 'Q32.20_1', 'Q32.20_2', 'Q32.20_3', 'Q32.20_4', 'Q32.20_5', 'Q32.21', 'Q32.22_First Click', 'Q32.22_Last Click', 'Q32.22_Page Submit', 'Q32.22_Click Count', 'Q32.24_First Click', 'Q32.24_Last Click', 'Q32.24_Page Submit', 'Q32.24_Click Count', 'Q32.25', 'Q32.26_1', 'Q32.27_1', 'Q32.27_2', 'Q32.27_3', 'Q32.27_4', 'Q32.27_5', 'Q32.28', 'Q32.29_First Click', 'Q32.29_Last Click', 'Q32.29_Page Submit', 'Q32.29_Click Count', 'Q32.31_First Click', 'Q32.31_Last Click', 'Q32.31_Page Submit', 'Q32.31_Click Count', 'Q32.32', 'Q32.33_1', 'Q32.34_1', 'Q32.34_2', 'Q32.34_3', 'Q32.34_4', 'Q32.34_5', 'Q32.35', 'Q33.1_First Click', 'Q33.1_Last Click', 'Q33.1_Page Submit', 'Q33.1_Click Count', 'Q33.3_First Click', 'Q33.3_Last Click', 'Q33.3_Page Submit', 'Q33.3_Click Count', 'Q33.4', 'Q33.5_1', 'Q33.6_1', 'Q33.6_2', 'Q33.6_3', 'Q33.6_4', 'Q33.6_5', 'Q33.7', 'Q33.8_First Click', 'Q33.8_Last Click', 'Q33.8_Page Submit', 'Q33.8_Click Count', 'Q33.10_First Click', 'Q33.10_Last Click', 'Q33.10_Page Submit', 'Q33.10_Click Count', 'Q33.11', 'Q33.12_1', 'Q33.13_1', 'Q33.13_2', 'Q33.13_3', 'Q33.13_4', 'Q33.13_5', 'Q33.14', 'Q33.15_First Click', 'Q33.15_Last Click', 'Q33.15_Page Submit', 'Q33.15_Click Count', 'Q33.17_First Click', 'Q33.17_Last Click', 'Q33.17_Page Submit', 'Q33.17_Click Count', 'Q33.18', 'Q33.19_1', 'Q33.20_1', 'Q33.20_2', 'Q33.20_3', 'Q33.20_4', 'Q33.20_5', 'Q33.21', 'Q33.22_First Click', 'Q33.22_Last Click', 'Q33.22_Page Submit', 'Q33.22_Click Count', 'Q33.24_First Click', 'Q33.24_Last Click', 'Q33.24_Page Submit', 'Q33.24_Click Count', 'Q33.25', 'Q33.26_1', 'Q33.27_1', 'Q33.27_2', 'Q33.27_3', 'Q33.27_4', 'Q33.27_5', 'Q33.28', 'Q33.29_First Click', 'Q33.29_Last Click', 'Q33.29_Page Submit', 'Q33.29_Click Count', 'Q33.31_First Click', 'Q33.31_Last Click', 'Q33.31_Page Submit', 'Q33.31_Click Count', 'Q33.32', 'Q33.33_1', 'Q33.34_1', 'Q33.34_2', 'Q33.34_3', 'Q33.34_4', 'Q33.34_5', 'Q33.35', 'Q34.1_First Click', 'Q34.1_Last Click', 'Q34.1_Page Submit', 'Q34.1_Click Count', 'Q34.3_First Click', 'Q34.3_Last Click', 'Q34.3_Page Submit', 'Q34.3_Click Count', 'Q34.4', 'Q34.5_1', 'Q34.6_1', 'Q34.6_2', 'Q34.6_3', 'Q34.6_4', 'Q34.6_5', 'Q34.7', 'Q34.8_First Click', 'Q34.8_Last Click', 'Q34.8_Page Submit', 'Q34.8_Click Count', 'Q34.10_First Click', 'Q34.10_Last Click', 'Q34.10_Page Submit', 'Q34.10_Click Count', 'Q34.11', 'Q34.12_1', 'Q34.13_1', 'Q34.13_2', 'Q34.13_3', 'Q34.13_4', 'Q34.13_5', 'Q34.14', 'Q34.15_First Click', 'Q34.15_Last Click', 'Q34.15_Page Submit', 'Q34.15_Click Count', 'Q34.17_First Click', 'Q34.17_Last Click', 'Q34.17_Page Submit', 'Q34.17_Click Count', 'Q34.18', 'Q34.19_1', 'Q34.20_1', 'Q34.20_2', 'Q34.20_3', 'Q34.20_4', 'Q34.20_5', 'Q34.21', 'Q34.22_First Click', 'Q34.22_Last Click', 'Q34.22_Page Submit', 'Q34.22_Click Count', 'Q34.24_First Click', 'Q34.24_Last Click', 'Q34.24_Page Submit', 'Q34.24_Click Count', 'Q34.25', 'Q34.26_1', 'Q34.27_1', 'Q34.27_2', 'Q34.27_3', 'Q34.27_4', 'Q34.27_5', 'Q34.28', 'Q34.29_First Click', 'Q34.29_Last Click', 'Q34.29_Page Submit', 'Q34.29_Click Count', 'Q34.31_First Click', 'Q34.31_Last Click', 'Q34.31_Page Submit', 'Q34.31_Click Count', 'Q34.32', 'Q34.33_1', 'Q34.34_1', 'Q34.34_2', 'Q34.34_3', 'Q34.34_4', 'Q34.34_5', 'Q34.35', 'Q35.1', 'Q35.2', 'Q35.3', 'Q35.4', 'Q35.5', 'Q35.6_1', 'Q35.6_2', 'Q35.6_3', 'Q35.6_4', 'Q37.1_First Click', 'Q37.1_Last Click', 'Q37.1_Page Submit', 'Q37.1_Click Count', 'Q37.3', 'Q37.4', 'Q38.1', 'Q38.2', 'Q38.3', 'Q38.4', 'Q38.5', 'Q38.6', 'Q38.7_1', 'Q38.7_2', 'Q38.7_3', 'Q38.8', 'Q38.9_1', 'Q38.9_2', 'Q38.9_3', 'Q38.9_4', 'Q38.9_5', 'Q38.9_6', 'Q38.9_7', 'Q38.10', 'Q40.1', 'Q41.1', 'Q42.1', 'Q43.1', 'Q44.1', 'Q45.1', 'Q46.1', 'Q47.1', 'Q48.1', 'Q49.1', 'Q50.1', 'Q51.1', 'Q52.1', 'Q53.1', 'Q54.1', 'Q55.1', 'Q56.1', 'Q57.1', 'Q58.1', 'Q59.1', 'Q60.1', 'Q61.1', 'Q62.1', 'Q63.1', 'Q67.1_First Click', 'Q67.1_Last Click', 'Q67.1_Page Submit', 'Q67.1_Click Count', 'Q68.1_First Click', 'Q68.1_Last Click', 'Q68.1_Page Submit', 'Q68.1_Click Count', 'Q68.3_First Click', 'Q68.3_Last Click', 'Q68.3_Page Submit', 'Q68.3_Click Count', 'Q69.1_First Click', 'Q69.1_Last Click', 'Q69.1_Page Submit', 'Q69.1_Click Count', 'Q70.1_1', 'Q70.2', 'Q70.3', 'Q70.4_NPS_GROUP', 'Q70.4', 'Q71.1', 'Q73.1', 'Q73.2', 'Q73.3', 'Q73.4', 'Q74.1', 'Q75.1', 'Q76.1', 'Q77.1', 'Q78.1', 'Q79.1', 'Q80.1', 'Q81.1', 'Q82.1', 'Q83.1', 'Q86.1_First Click', 'Q86.1_Last Click', 'Q86.1_Page Submit', 'Q86.1_Click Count', 'Q87.6_First Click', 'Q87.6_Last Click', 'Q87.6_Page Submit', 'Q87.6_Click Count', 'Q88.6_First Click', 'Q88.6_Last Click', 'Q88.6_Page Submit', 'Q88.6_Click Count', 'Q89.6_First Click', 'Q89.6_Last Click', 'Q89.6_Page Submit', 'Q89.6_Click Count', 'Q90.1_1', 'Q90.2_1', 'Q90.3_First Click', 'Q90.3_Last Click', 'Q90.3_Page Submit', 'Q90.3_Click Count', 'Q91.1', 'Q91.2_First Click', 'Q91.2_Last Click', 'Q91.2_Page Submit', 'Q91.2_Click Count', 'Q92.1_1', 'Q92.2_1', 'Q92.3_1', 'Q92.4_1', 'Q92.5_1', 'Q92.6_1', 'Q92.7_First Click', 'Q92.7_Last Click', 'Q92.7_Page Submit', 'Q92.7_Click Count', 'Q93.1_First Click', 'Q93.1_Last Click', 'Q93.1_Page Submit', 'Q93.1_Click Count', 'Q94.6_First Click', 'Q94.6_Last Click', 'Q94.6_Page Submit', 'Q94.6_Click Count', 'Q95.6_First Click', 'Q95.6_Last Click', 'Q95.6_Page Submit', 'Q95.6_Click Count', 'Q96.6_First Click', 'Q96.6_Last Click', 'Q96.6_Page Submit', 'Q96.6_Click Count', 'Q97.1', 'Q97.2_First Click', 'Q97.2_Last Click', 'Q97.2_Page Submit', 'Q97.2_Click Count', 'Q98.2', 'Q98.3_First Click', 'Q98.3_Last Click', 'Q98.3_Page Submit', 'Q98.3_Click Count', 'Q100.2', 'Q100.3', 'Q100.4', 'Q100.5', 'Q100.6', 'Q100.7', 'Q100.8_First Click', 'Q100.8_Last Click', 'Q100.8_Page Submit', 'Q100.8_Click Count', 'Q101.3_First Click', 'Q101.3_Last Click', 'Q101.3_Page Submit', 'Q101.3_Click Count', 'Q102.2_1', 'Q102.4_First Click', 'Q102.4_Last Click', 'Q102.4_Page Submit', 'Q102.4_Click Count', 'Q103.2_1', 'Q103.4_First Click', 'Q103.4_Last Click', 'Q103.4_Page Submit', 'Q103.4_Click Count', 'Q104.2_1', 'Q104.4_First Click', 'Q104.4_Last Click', 'Q104.4_Page Submit', 'Q104.4_Click Count', 'Q105.2_1', 'Q105.4_First Click', 'Q105.4_Last Click', 'Q105.4_Page Submit', 'Q105.4_Click Count', 'Q106.2_1', 'Q106.4_First Click', 'Q106.4_Last Click', 'Q106.4_Page Submit', 'Q106.4_Click Count', 'Q107.2_1', 'Q107.4_First Click', 'Q107.4_Last Click', 'Q107.4_Page Submit', 'Q107.4_Click Count', 'Q108.2_1', 'Q108.4_First Click', 'Q108.4_Last Click', 'Q108.4_Page Submit', 'Q108.4_Click Count', 'Q109.2_1', 'Q109.4_First Click', 'Q109.4_Last Click', 'Q109.4_Page Submit', 'Q109.4_Click Count', 'Q110.2_1', 'Q110.4_First Click', 'Q110.4_Last Click', 'Q110.4_Page Submit', 'Q110.4_Click Count', 'Q111.2_1', 'Q111.4_First Click', 'Q111.4_Last Click', 'Q111.4_Page Submit', 'Q111.4_Click Count', 'Q112.2_1', 'Q112.4_First Click', 'Q112.4_Last Click', 'Q112.4_Page Submit', 'Q112.4_Click Count', 'Q113.2_1', 'Q113.4_First Click', 'Q113.4_Last Click', 'Q113.4_Page Submit', 'Q113.4_Click Count', 'Q114.2_1', 'Q114.4_First Click', 'Q114.4_Last Click', 'Q114.4_Page Submit', 'Q114.4_Click Count', 'Q115.2', 'Q116.2_First Click', 'Q116.2_Last Click', 'Q116.2_Page Submit', 'Q116.2_Click Count', 'Q117.2', 'Q117.3', 'Q117.4', 'Q117.5', 'Q117.6', 'Q117.7_First Click', 'Q117.7_Last Click', 'Q117.7_Page Submit', 'Q117.7_Click Count', 'Q118.1_First Click', 'Q118.1_Last Click', 'Q118.1_Page Submit', 'Q118.1_Click Count', 'Q118.2_1_x', 'Q118.2_1_y', 'Q118.2_2_x', 'Q118.2_2_y', 'Q118.2_3_x', 'Q118.2_3_y', 'Q118.2_4_x', 'Q118.2_4_y', 'Q118.2_5_x', 'Q118.2_5_y', 'Q118.2_6_x', 'Q118.2_6_y', 'Q118.2_7_x', 'Q118.2_7_y', 'Q118.2_8_x', 'Q118.2_8_y', 'Q118.2_9_x', 'Q118.2_9_y', 'Q118.2_10_x', 'Q118.2_10_y', 'Q118.2', 'Q118.3', 'Q118.4', 'Q119.2_First Click', 'Q119.2_Last Click', 'Q119.2_Page Submit', 'Q119.2_Click Count', 'Q120.3', 'Q120.4', 'Q120.5', 'Q120.6', 'Q120.7', 'Q120.8', 'Q120.9', 'Q120.10', 'Q120.11', 'Q120.12', 'Q120.13', 'Q120.14', 'Q120.15', 'Q120.16', 'Q120.17', 'Q120.18', 'Q120.19_First Click', 'Q120.19_Last Click', 'Q120.19_Page Submit', 'Q120.19_Click Count', 'Q121.1', 'Q121.2_First Click', 'Q121.2_Last Click', 'Q121.2_Page Submit', 'Q121.2_Click Count', 'Q122.2', 'Q122.3', 'Q122.4_First Click', 'Q122.4_Last Click', 'Q122.4_Page Submit', 'Q122.4_Click Count', 'Q124.2', 'Q124.3', 'Q124.4', 'Q124.5', 'Q124.6', 'Q124.7_First Click', 'Q124.7_Last Click', 'Q124.7_Page Submit', 'Q124.7_Click Count', 'Q125.1_First Click', 'Q125.1_Last Click', 'Q125.1_Page Submit', 'Q125.1_Click Count', 'Q125.2_1_x', 'Q125.2_1_y', 'Q125.2_2_x', 'Q125.2_2_y', 'Q125.2_3_x', 'Q125.2_3_y', 'Q125.2_4_x', 'Q125.2_4_y', 'Q125.2_5_x', 'Q125.2_5_y', 'Q125.2_6_x', 'Q125.2_6_y', 'Q125.2_7_x', 'Q125.2_7_y', 'Q125.2_8_x', 'Q125.2_8_y', 'Q125.2_9_x', 'Q125.2_9_y', 'Q125.2_10_x', 'Q125.2_10_y', 'Q125.2', 'Q125.3', 'Q125.4', 'Q126.2_First Click', 'Q126.2_Last Click', 'Q126.2_Page Submit', 'Q126.2_Click Count', 'Q127.3', 'Q127.4', 'Q127.5', 'Q127.6', 'Q127.7', 'Q127.8', 'Q127.9', 'Q127.10', 'Q127.11', 'Q127.12', 'Q127.13', 'Q127.14', 'Q127.15', 'Q127.16', 'Q127.17', 'Q127.18', 'Q127.19_First Click', 'Q127.19_Last Click', 'Q127.19_Page Submit', 'Q127.19_Click Count', 'Q128.1', 'Q128.2_First Click', 'Q128.2_Last Click', 'Q128.2_Page Submit', 'Q128.2_Click Count', 'Q129.2', 'Q129.3', 'Q129.4_First Click', 'Q129.4_Last Click', 'Q129.4_Page Submit', 'Q129.4_Click Count', 'Q131.2', 'Q131.3', 'Q131.4', 'Q131.5', 'Q131.6', 'Q131.7_First Click', 'Q131.7_Last Click', 'Q131.7_Page Submit', 'Q131.7_Click Count', 'Q132.1_First Click', 'Q132.1_Last Click', 'Q132.1_Page Submit', 'Q132.1_Click Count', 'Q132.2_1_x', 'Q132.2_1_y', 'Q132.2_2_x', 'Q132.2_2_y', 'Q132.2_3_x', 'Q132.2_3_y', 'Q132.2_4_x', 'Q132.2_4_y', 'Q132.2_5_x', 'Q132.2_5_y', 'Q132.2_6_x', 'Q132.2_6_y', 'Q132.2_7_x', 'Q132.2_7_y', 'Q132.2_8_x', 'Q132.2_8_y', 'Q132.2_9_x', 'Q132.2_9_y', 'Q132.2_10_x', 'Q132.2_10_y', 'Q132.2', 'Q132.3', 'Q132.4', 'Q133.2_First Click', 'Q133.2_Last Click', 'Q133.2_Page Submit', 'Q133.2_Click Count', 'Q134.3', 'Q134.4', 'Q134.5', 'Q134.6', 'Q134.7', 'Q134.8', 'Q134.9', 'Q134.10', 'Q134.11', 'Q134.12', 'Q134.13', 'Q134.14', 'Q134.15', 'Q134.16', 'Q134.17', 'Q134.18', 'Q134.19_First Click', 'Q134.19_Last Click', 'Q134.19_Page Submit', 'Q134.19_Click Count', 'Q135.1', 'Q135.2_First Click', 'Q135.2_Last Click', 'Q135.2_Page Submit', 'Q135.2_Click Count', 'Q136.2', 'Q136.3', 'Q136.4_First Click', 'Q136.4_Last Click', 'Q136.4_Page Submit', 'Q136.4_Click Count', 'Q138.2', 'Q138.3', 'Q138.4', 'Q138.5', 'Q138.6', 'Q138.7_First Click', 'Q138.7_Last Click', 'Q138.7_Page Submit', 'Q138.7_Click Count', 'Q139.1_First Click', 'Q139.1_Last Click', 'Q139.1_Page Submit', 'Q139.1_Click Count', 'Q139.2_1_x', 'Q139.2_1_y', 'Q139.2_2_x', 'Q139.2_2_y', 'Q139.2_3_x', 'Q139.2_3_y', 'Q139.2_4_x', 'Q139.2_4_y', 'Q139.2_5_x', 'Q139.2_5_y', 'Q139.2_6_x', 'Q139.2_6_y', 'Q139.2_7_x', 'Q139.2_7_y', 'Q139.2_8_x', 'Q139.2_8_y', 'Q139.2_9_x', 'Q139.2_9_y', 'Q139.2_10_x', 'Q139.2_10_y', 'Q139.2', 'Q139.3', 'Q139.4', 'Q140.2_First Click', 'Q140.2_Last Click', 'Q140.2_Page Submit', 'Q140.2_Click Count', 'Q141.3', 'Q141.4', 'Q141.5', 'Q141.6', 'Q141.7', 'Q141.8', 'Q141.9', 'Q141.10', 'Q141.11', 'Q141.12', 'Q141.13', 'Q141.14', 'Q141.15', 'Q141.16', 'Q141.17', 'Q141.18', 'Q141.19_First Click', 'Q141.19_Last Click', 'Q141.19_Page Submit', 'Q141.19_Click Count', 'Q142.1', 'Q142.2_First Click', 'Q142.2_Last Click', 'Q142.2_Page Submit', 'Q142.2_Click Count', 'Q143.2', 'Q143.3', 'Q143.4_First Click', 'Q143.4_Last Click', 'Q143.4_Page Submit', 'Q143.4_Click Count', 'Q144.1', 'Q144.2', 'Q145.2', 'Q145.3', 'Q145.4', 'Q145.5', 'Q145.6', 'Q146.2', 'Q146.3', 'Q146.4', 'Q146.5', 'Q146.6', 'Q147.2', 'Q147.3', 'Q147.4', 'Q147.5', 'Q147.6', 'Q148.2', 'Q148.3', 'Q148.4', 'Q148.5', 'Q148.6', 'Q149.2', 'Q149.3', 'Q149.4', 'Q149.5', 'Q149.6', 'Q150.2', 'Q150.3', 'Q150.4', 'Q150.5', 'Q150.6', 'Q152.2', 'Q152.3', 'SC0', 'always1', 'id', 'Q_TotalDuration', 'Group', 'review_of_reviews_group', 'social_media_credability_group', 'aapi_discrimination_group', 'puzzle_id', 'Create New Field or Choose From Dropdown...', 'clicked', 'A1B1', 'A1B2', 'A1B3', 'A1B4', 'A1C1', 'A1C2', 'A1C3', 'A1C4', 'A2B1', 'A2B2', 'A2B3', 'A2B4', 'A2C1', 'A2C2', 'A2C3', 'A2C4', 'A3B1', 'A3B2', 'A3B3', 'A3B4', 'A3C1', 'A3C2', 'A3C3', 'A3C4', 'A4B1', 'A4B2', 'A4B3', 'A4B4', 'A4C1', 'A4C2', 'A4C3', 'A4C4', 'C1B1', 'C1B2', 'C1B3', 'C1B4', 'C2B1', 'C2B2', 'C2B3', 'C2B4', 'C3B1', 'C3B2', 'C3B3', 'C3B4', 'C4B1', 'C4B2', 'C4B3', 'C4B4', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16', 'A17', 'A18', 'A19', 'A20', 'A21', 'A22'

In [8]:
df = df[['Q2.17','Q40.1', 'Q41.1', 'Q42.1', 'Q43.1', 'Q44.1', 'Q45.1', 'Q46.1', 'Q47.1', 'Q48.1', 'Q49.1', 'Q50.1', 'Q51.1', 'Q52.1', 'Q53.1', 'Q54.1', 'Q55.1', 'Q56.1', 'Q57.1', 'Q58.1', 'Q59.1', 'Q60.1', 'Q61.1', 'Q62.1', 'Q63.1']]

In [9]:
df

,Q2.17,Q40.1,Q41.1,Q42.1,Q43.1,Q44.1,Q45.1,Q46.1,Q47.1,Q48.1,...,Q54.1,Q55.1,Q56.1,Q57.1,Q58.1,Q59.1,Q60.1,Q61.1,Q62.1,Q63.1
0,"When you purchase books, what format do you mo...",Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,...,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below,Choose Your Favorite of the Books Below
1,"{""ImportId"":""QID200""}","{""ImportId"":""QID187""}","{""ImportId"":""QID193""}","{""ImportId"":""QID190""}","{""ImportId"":""QID191""}","{""ImportId"":""QID192""}","{""ImportId"":""QID189""}","{""ImportId"":""QID194""}","{""ImportId"":""QID195""}","{""ImportId"":""QID196""}",...,"{""ImportId"":""QID203""}","{""ImportId"":""QID204""}","{""ImportId"":""QID205""}","{""ImportId"":""QID206""}","{""ImportId"":""QID207""}","{""ImportId"":""QID208""}","{""ImportId"":""QID209""}","{""ImportId"":""QID210""}","{""ImportId"":""QID211""}","{""ImportId"":""QID212""}"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,IM_79BIls9ITEeLEy2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IM_9o7tEXHqbcH8CrQ,NaN
4,I don't purchase books,1,NaN,NaN,NaN,NaN,NaN,NaN,IM_bCxbEb2KEjRiSAm,NaN,...,NaN,IM_0rzZZl5rKnoVR1s,NaN,NaN,NaN,IM_9o7tEXHqbcH8CrQ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,I don't purchase books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.drop([0, 1])

In [11]:
# book_covariate = Q2.17,

#     ChRegCol = Q40.1,
#     ChRegBW = Q41.1,
#     ChSmCol = Q42.1,
#     ChSmBW = Q43.1,
#     ChNoCol = Q44.1,
#     ChNoBW = Q45.1,
    
#     FiRegCol = Q46.1,
#     FiRegBW = Q47.1,
#     FiSmCol = Q48.1,
#     FiSmBW = Q49.1,
#     FiNoCol = Q50.1,
#     FiNoBW = Q51.1,
    
#     NoRegCol = Q52.1,
#     NoRegBW = Q53.1,
#     NoSmCol = Q54.1,
#     NoSmBW = Q55.1,
#     NoNoCol = Q56.1,
#     NoNoBW = Q57.1,
    
#     ClRegCol = Q58.1,
#     ClRegBW = Q59.1,
#     ClSmCol = Q60.1,
#     ClSmBW = Q61.1,
#     ClNoCol = Q62.1,
#     ClNoBW = Q63.1

In [12]:
a = df['Q46.1'].unique()
b = df['Q47.1'].unique()
c = df['Q48.1'].unique()

In [13]:
a

array([nan, 'IM_cC15sUM3wdS0qGO', 'IM_79BIls9ITEeLEy2',
       'IM_bCxbEb2KEjRiSAm'], dtype=object)

In [14]:
b

array([nan, 'IM_bCxbEb2KEjRiSAm', 'IM_79BIls9ITEeLEy2',
       'IM_4YZShV208PsmCMu'], dtype=object)

In [15]:
c

array([nan, 'IM_79BIls9ITEeLEy2', 'IM_bpXACllyeiwpR78',
       'IM_bCxbEb2KEjRiSAm'], dtype=object)

In [16]:
q_list = ['Q40.1', 'Q41.1', 'Q42.1', 'Q43.1', 'Q44.1', 'Q45.1', 'Q46.1', 'Q47.1', 'Q48.1', 'Q49.1', 'Q50.1', 'Q51.1', 'Q52.1', 'Q53.1', 'Q54.1', 'Q55.1', 'Q56.1', 'Q57.1', 'Q58.1', 'Q59.1', 'Q60.1', 'Q61.1', 'Q62.1', 'Q63.1']

In [17]:
for i in q_list:
    a = df[i].value_counts(normalize=True)
    print(a)

3    0.407407
2    0.314815
1    0.277778
Name: Q40.1, dtype: float64
1    0.396226
3    0.320755
2    0.283019
Name: Q41.1, dtype: float64
3    0.436364
2    0.400000
1    0.163636
Name: Q42.1, dtype: float64
1    0.436364
2    0.327273
3    0.236364
Name: Q43.1, dtype: float64
3    0.388889
1    0.314815
2    0.296296
Name: Q44.1, dtype: float64
3    0.370370
1    0.333333
2    0.296296
Name: Q45.1, dtype: float64
IM_79BIls9ITEeLEy2    0.490566
IM_cC15sUM3wdS0qGO    0.377358
IM_bCxbEb2KEjRiSAm    0.132075
Name: Q46.1, dtype: float64
IM_79BIls9ITEeLEy2    0.490909
IM_4YZShV208PsmCMu    0.327273
IM_bCxbEb2KEjRiSAm    0.181818
Name: Q47.1, dtype: float64
IM_bpXACllyeiwpR78    0.509091
IM_79BIls9ITEeLEy2    0.418182
IM_bCxbEb2KEjRiSAm    0.072727
Name: Q48.1, dtype: float64
IM_79BIls9ITEeLEy2    0.444444
IM_5C1focehBmaxTiS    0.444444
IM_bCxbEb2KEjRiSAm    0.111111
Name: Q49.1, dtype: float64
IM_79BIls9ITEeLEy2    0.537037
IM_3VIIMJClBmsGxtc    0.277778
IM_bCxbEb2KEjRiSAm    0.185185
Name: Q50.1, dtype: float64
IM_79BIls9ITEeLEy2    0.370370
IM_bCxbEb2KEjRiSAm    0.370370
IM_9o9d8MJYLTwpJSC    0.259259
Name: Q51.1, dtype: float64
IM_0kVDHpzAR3gMutE    0.6250
IM_6tfBdi8rc1h4SN0    0.1875
IM_0rzZZl5rKnoVR1s    0.1875
Name: Q52.1, dtype: float64
IM_9yr15wey45273nw    0.357143
IM_6tfBdi8rc1h4SN0    0.339286
IM_0rzZZl5rKnoVR1s    0.303571
Name: Q53.1, dtype: float64
IM_9sfqLb06QBgx0b4    0.550000
IM_0rzZZl5rKnoVR1s    0.233333
IM_6tfBdi8rc1h4SN0    0.216667
Name: Q54.1, dtype: float64
IM_77Ll7tk9eGKUWlE    0.500000
IM_0rzZZl5rKnoVR1s    0.314815
IM_6tfBdi8rc1h4SN0    0.185185
Name: Q55.1, dtype: float64
IM_3mlAuhwjf65T6wm    0.410714
IM_0rzZZl5rKnoVR1s    0.303571
IM_6tfBdi8rc1h4SN0    0.285714
Name: Q56.1, dtype: float64
IM_5bupItZ8rB3CcIe    0.392157
IM_6tfBdi8rc1h4SN0    0.313725
IM_0rzZZl5rKnoVR1s    0.294118
Name: Q57.1, dtype: float64
IM_cJjcFz8HZ5kpkFM    0.530612
IM_9o7tEXHqbcH8CrQ    0.244898
IM_eQJuiJHm3FKuXmS    0.224490
Name: Q58.1, dtype: float64
IM_aacHgSSJ8SpHgQS    0.403846
IM_eQJuiJHm3FKuXmS    0.307692
IM_9o7tEXHqbcH8CrQ    0.288462
Name: Q59.1, dtype: float64
IM_9H4EoaPNkdi3cAS    0.450980
IM_eQJuiJHm3FKuXmS    0.352941
IM_9o7tEXHqbcH8CrQ    0.196078
Name: Q60.1, dtype: float64
IM_9zXdTIKXUek7YCq    0.353846
IM_9o7tEXHqbcH8CrQ    0.323077
IM_eQJuiJHm3FKuXmS    0.323077
Name: Q61.1, dtype: float64
IM_d5L0mbRZEVGHSzc    0.392857
IM_9o7tEXHqbcH8CrQ    0.392857
IM_eQJuiJHm3FKuXmS    0.214286
Name: Q62.1, dtype: float64
IM_9o7tEXHqbcH8CrQ    0.365385
IM_8uJIu79kF2DDVga    0.326923
IM_eQJuiJHm3FKuXmS    0.307692
Name: Q63.1, dtype: float64

In [18]:
# IM_79BIls9ITEeLEy2
# IM_bCxbEb2KEjRiSAm

# IM_0rzZZl5rKnoVR1s  
# IM_6tfBdi8rc1h4SN0

# IM_9o7tEXHqbcH8CrQ
# IM_eQJuiJHm3FKuXmS

In [19]:
for i in q_list:
    df[i] = df[i].replace('IM_79BIls9ITEeLEy2',1)
    df[i] = df[i].replace('IM_bCxbEb2KEjRiSAm',3)
    
    df[i] =df[i].replace('IM_0rzZZl5rKnoVR1s',1)
    df[i] =df[i].replace('IM_6tfBdi8rc1h4SN0',3)
    
    df[i] =df[i].replace('IM_9o7tEXHqbcH8CrQ',1)
    df[i] =df[i].replace('IM_eQJuiJHm3FKuXmS',3)

In [20]:
df

,Q2.17,Q40.1,Q41.1,Q42.1,Q43.1,Q44.1,Q45.1,Q46.1,Q47.1,Q48.1,...,Q54.1,Q55.1,Q56.1,Q57.1,Q58.1,Q59.1,Q60.1,Q61.1,Q62.1,Q63.1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,I don't purchase books,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
5,I buy ebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,I buy both,NaN,NaN,3,NaN,NaN,NaN,IM_cC15sUM3wdS0qGO,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,I don't purchase books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,I buy physical books,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
for i in q_list:
    a = df[i].value_counts(normalize=True)
    print(a)

3    0.407407
2    0.314815
1    0.277778
Name: Q40.1, dtype: float64
1    0.396226
3    0.320755
2    0.283019
Name: Q41.1, dtype: float64
3    0.436364
2    0.400000
1    0.163636
Name: Q42.1, dtype: float64
1    0.436364
2    0.327273
3    0.236364
Name: Q43.1, dtype: float64
3    0.388889
1    0.314815
2    0.296296
Name: Q44.1, dtype: float64
3    0.370370
1    0.333333
2    0.296296
Name: Q45.1, dtype: float64
1                     0.490566
IM_cC15sUM3wdS0qGO    0.377358
3                     0.132075
Name: Q46.1, dtype: float64
1                     0.490909
IM_4YZShV208PsmCMu    0.327273
3                     0.181818
Name: Q47.1, dtype: float64
IM_bpXACllyeiwpR78    0.509091
1                     0.418182
3                     0.072727
Name: Q48.1, dtype: float64
IM_5C1focehBmaxTiS    0.444444
1                     0.444444
3                     0.111111
Name: Q49.1, dtype: float64
1                     0.537037
IM_3VIIMJClBmsGxtc    0.277778
3                     0.185185
Name: Q50.1, dtype: float64
3                     0.370370
1                     0.370370
IM_9o9d8MJYLTwpJSC    0.259259
Name: Q51.1, dtype: float64
IM_0kVDHpzAR3gMutE    0.6250
3                     0.1875
1                     0.1875
Name: Q52.1, dtype: float64
IM_9yr15wey45273nw    0.357143
3                     0.339286
1                     0.303571
Name: Q53.1, dtype: float64
IM_9sfqLb06QBgx0b4    0.550000
1                     0.233333
3                     0.216667
Name: Q54.1, dtype: float64
IM_77Ll7tk9eGKUWlE    0.500000
1                     0.314815
3                     0.185185
Name: Q55.1, dtype: float64
IM_3mlAuhwjf65T6wm    0.410714
1                     0.303571
3                     0.285714
Name: Q56.1, dtype: float64
IM_5bupItZ8rB3CcIe    0.392157
3                     0.313725
1                     0.294118
Name: Q57.1, dtype: float64
IM_cJjcFz8HZ5kpkFM    0.530612
1                     0.244898
3                     0.224490
Name: Q58.1, dtype: float64
IM_aacHgSSJ8SpHgQS    0.403846
3                     0.307692
1                     0.288462
Name: Q59.1, dtype: float64
IM_9H4EoaPNkdi3cAS    0.450980
3                     0.352941
1                     0.196078
Name: Q60.1, dtype: float64
IM_9zXdTIKXUek7YCq    0.353846
3                     0.323077
1                     0.323077
Name: Q61.1, dtype: float64
IM_d5L0mbRZEVGHSzc    0.392857
1                     0.392857
3                     0.214286
Name: Q62.1, dtype: float64
1                     0.365385
IM_8uJIu79kF2DDVga    0.326923
3                     0.307692
Name: Q63.1, dtype: float64

In [22]:
for i in q_list:
    print(df[i].unique())

[nan '1' '3' '2']
[nan '2' '1' '3']
[nan '3' '1' '2']
[nan '1' '2' '3']
[nan '1' '3' '2']
[nan '2' '3' '1']
[nan 'IM_cC15sUM3wdS0qGO' 1 3]
[nan 3 1 'IM_4YZShV208PsmCMu']
[nan 1 'IM_bpXACllyeiwpR78' 3]
[nan 3 1 'IM_5C1focehBmaxTiS']
[nan 3 'IM_3VIIMJClBmsGxtc' 1]
[nan 3 1 'IM_9o9d8MJYLTwpJSC']
[nan 1 3 'IM_0kVDHpzAR3gMutE']
[nan 1 'IM_9yr15wey45273nw' 3]
[nan 3 1 'IM_9sfqLb06QBgx0b4']
[nan 1 'IM_77Ll7tk9eGKUWlE' 3]
[nan 1 3 'IM_3mlAuhwjf65T6wm']
[nan 3 1 'IM_5bupItZ8rB3CcIe']
[nan 'IM_cJjcFz8HZ5kpkFM' 3 1]
[nan 1 3 'IM_aacHgSSJ8SpHgQS']
[nan 'IM_9H4EoaPNkdi3cAS' 3 1]
[nan 'IM_9zXdTIKXUek7YCq' 3 1]
[nan 1 'IM_d5L0mbRZEVGHSzc' 3]
[nan 1 3 'IM_8uJIu79kF2DDVga']

In [23]:
t_list = ['IM_cC15sUM3wdS0qGO',
'IM_4YZShV208PsmCMu',
'IM_bpXACllyeiwpR78',
'IM_5C1focehBmaxTiS',
'IM_3VIIMJClBmsGxtc',
'IM_9o9d8MJYLTwpJSC',
'IM_0kVDHpzAR3gMutE',
'IM_9yr15wey45273nw',
'IM_9sfqLb06QBgx0b4',
'IM_77Ll7tk9eGKUWlE',
'IM_3mlAuhwjf65T6wm',
'IM_5bupItZ8rB3CcIe',
'IM_cJjcFz8HZ5kpkFM',
'IM_aacHgSSJ8SpHgQS',
'IM_9H4EoaPNkdi3cAS',
'IM_9zXdTIKXUek7YCq',
'IM_d5L0mbRZEVGHSzc',
'IM_8uJIu79kF2DDVga']

In [24]:
for i in q_list:
    for j in t_list:
        df[i] = df[i].replace(j,2)

In [25]:
df.head()

,Q2.17,Q40.1,Q41.1,Q42.1,Q43.1,Q44.1,Q45.1,Q46.1,Q47.1,Q48.1,...,Q54.1,Q55.1,Q56.1,Q57.1,Q58.1,Q59.1,Q60.1,Q61.1,Q62.1,Q63.1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,I don't purchase books,1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
5,I buy ebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,I buy both,NaN,NaN,3,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [26]:
for i in q_list:
    df[i] = df[i].replace('1',1)
    df[i] = df[i].replace('2',2)
    df[i] = df[i].replace('3',3)

In [27]:
df.head()

,Q2.17,Q40.1,Q41.1,Q42.1,Q43.1,Q44.1,Q45.1,Q46.1,Q47.1,Q48.1,...,Q54.1,Q55.1,Q56.1,Q57.1,Q58.1,Q59.1,Q60.1,Q61.1,Q62.1,Q63.1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,I don't purchase books,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
5,I buy ebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,I buy both,NaN,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [28]:
df2 = pd.DataFrame(columns = q_list)

In [29]:
df2

Empty DataFrame
Columns: [Q40.1, Q41.1, Q42.1, Q43.1, Q44.1, Q45.1, Q46.1, Q47.1, Q48.1, Q49.1, Q50.1, Q51.1, Q52.1, Q53.1, Q54.1, Q55.1, Q56.1, Q57.1, Q58.1, Q59.1, Q60.1, Q61.1, Q62.1, Q63.1]
Index: []

[0 rows x 24 columns]

In [30]:
list1 = []
list2 = []
list3 = []
for i in q_list:
    count1 = 0
    count2 = 0
    count3 = 0
    for a in df[i]: 
        if a == 1:
            count1 += 1
        if a == 2:
            count2 += 1
        if a == 3:
            count3 += 1
    
    list1.append(count1)
    list2.append(count2)
    list3.append(count3)

In [31]:
a_series = pd.Series(list1, index = df2.columns)
df2 = df2.append(a_series, ignore_index=True)

In [32]:
a_series = pd.Series(list2, index = df2.columns)
df2 = df2.append(a_series, ignore_index=True)
a_series = pd.Series(list3, index = df2.columns)
df2 = df2.append(a_series, ignore_index=True)

In [33]:
df2

,Q40.1,Q41.1,Q42.1,Q43.1,Q44.1,Q45.1,Q46.1,Q47.1,Q48.1,Q49.1,...,Q54.1,Q55.1,Q56.1,Q57.1,Q58.1,Q59.1,Q60.1,Q61.1,Q62.1,Q63.1
0,15,21,9,24,17,18,26,27,23,24,...,14,17,17,15,12,15,10,21,22,19
1,17,15,22,18,16,16,20,18,28,24,...,33,27,23,20,26,21,23,23,22,17
2,22,17,24,13,21,20,7,10,4,6,...,13,10,16,16,11,16,18,21,12,16

In [34]:
df2.to_csv('data.csv')